/* Type Breakpoints */
:host {
  display: block;
  color: var(--mio-theme-color-neutral-10);
}
:host.dark-mode {
  color: var(--mio-theme-color-neutral-90);
}
.primary-container {
  display: flex;
  margin: 0;
  padding: 56px;
  border-radius: 24px;
  background: var(--mio-theme-color-surface-1);
  background-repeat: no-repeat;
  background-position: 0 50%;
  background-size: cover;
}
.primary-container.background .wrapper {
  min-height: unset;
}
.primary-container.background .title {
  width: 100%;
}
.primary-container,
.split-asset-image {
  min-height: 544px;
}
@media screen and (max-width: 1294px) {
  .primary-container,
  .split-asset-image {
    min-height: unset;
  }
}
header.homepage .primary-container {
  min-height: calc(100vh - 64px);
}
.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 840px;
  margin: 0;
}
.primary-container,
.cards,
.resources {
  grid-column: span 1;
}
@media screen and (max-width: 1294px) {
  .primary-container,
  .cards,
  .resources {
    grid-column: span 2;
  }
}
.full-width .primary-container {
  grid-column: span 2;
}
.content-centered .primary-container {
  justify-content: center;
  text-align: center;
}
.content-centered .primary-container .wrapper {
  max-width: 1200px;
}
.content-centered .primary-container mwc-button {
  --mdc-button-horizontal-padding: 48px;
  width: unset;
}
.content-centered .primary-container .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-centered .primary-container .description {
  max-width: 840px;
}
.title {
  padding: 0;
}
.title .description {
  font-family: var(--mio-theme-v2-title-l-font-family);
  font-size: var(--mio-theme-v2-title-l-font-size);
  font-weight: var(--mio-theme-v2-title-l-font-weight);
  letter-spacing: var(--mio-theme-v2-title-l-letter-spacing);
  line-height: var(--mio-theme-v2-title-l-line-height);
  font-variation-settings: "GRAD"
      var(--mio-theme-v2-title-l-font-variation-GRAD),
    "opsz" var(--mio-theme-v2-title-l-font-variation-opsz);
  margin: 0;
}
@media screen and (max-width: 600px) {
  .title .description {
    font-family: var(--mio-theme-v2-body-l-font-family);
    font-size: var(--mio-theme-v2-body-l-font-size);
    font-weight: var(--mio-theme-v2-body-l-font-weight);
    letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
    line-height: var(--mio-theme-v2-body-l-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-body-l-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  .title .description {
    font-family: var(--mio-theme-v2-title-l-font-family);
    font-size: var(--mio-theme-v2-title-l-font-size);
    font-weight: var(--mio-theme-v2-title-l-font-weight);
    letter-spacing: var(--mio-theme-v2-title-l-letter-spacing);
    line-height: var(--mio-theme-v2-title-l-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-title-l-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-title-l-font-variation-opsz);
  }
}
h1 {
  font-family: var(--mio-theme-v2-hero-font-family);
  font-size: var(--mio-theme-v2-hero-font-size);
  font-weight: var(--mio-theme-v2-hero-font-weight);
  letter-spacing: var(--mio-theme-v2-hero-letter-spacing);
  line-height: var(--mio-theme-v2-hero-line-height);
  font-variation-settings: "GRAD" var(--mio-theme-v2-hero-font-variation-GRAD),
    "opsz" var(--mio-theme-v2-hero-font-variation-opsz);
  margin: 0 0 8px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-family: var(--mio-theme-v2-display-l-font-family);
    font-size: var(--mio-theme-v2-display-l-font-size);
    font-weight: var(--mio-theme-v2-display-l-font-weight);
    letter-spacing: var(--mio-theme-v2-display-l-letter-spacing);
    line-height: var(--mio-theme-v2-display-l-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-display-l-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-display-l-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h1 {
    font-family: var(--mio-theme-v2-display-xl-font-family);
    font-size: var(--mio-theme-v2-display-xl-font-size);
    font-weight: var(--mio-theme-v2-display-xl-font-weight);
    letter-spacing: var(--mio-theme-v2-display-xl-letter-spacing);
    line-height: var(--mio-theme-v2-display-xl-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-display-xl-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-display-xl-font-variation-opsz);
  }
}
@media screen and (max-width: 1294px) {
  .wrapper {
    max-width: none;
  }
}
@media screen and (max-width: 600px) {
  .primary-container {
    padding: 32px;
  }
}
h3 {
  font-family: var(--mio-theme-v2-title-l-font-family);
  font-size: var(--mio-theme-v2-title-l-font-size);
  font-weight: var(--mio-theme-v2-title-l-font-weight);
  letter-spacing: var(--mio-theme-v2-title-l-letter-spacing);
  line-height: var(--mio-theme-v2-title-l-line-height);
  font-variation-settings: "GRAD"
      var(--mio-theme-v2-title-l-font-variation-GRAD),
    "opsz" var(--mio-theme-v2-title-l-font-variation-opsz);
  height: 40px;
  margin: 8px 0 8px 24px;
  color: var(--mio-theme-color-on-surface);
}
@media screen and (max-width: 600px) {
  h3 {
    font-family: var(--mio-theme-v2-body-l-font-family);
    font-size: var(--mio-theme-v2-body-l-font-size);
    font-weight: var(--mio-theme-v2-body-l-font-weight);
    letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
    line-height: var(--mio-theme-v2-body-l-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-body-l-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  h3 {
    font-family: var(--mio-theme-v2-title-l-font-family);
    font-size: var(--mio-theme-v2-title-l-font-size);
    font-weight: var(--mio-theme-v2-title-l-font-weight);
    letter-spacing: var(--mio-theme-v2-title-l-letter-spacing);
    line-height: var(--mio-theme-v2-title-l-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-title-l-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-title-l-font-variation-opsz);
  }
}
.card-container {
  height: calc(100% - 56px);
}
header {
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-flow: row;
}
.split-asset-image {
  display: flex;
  position: relative;
  justify-content: center;
  border: 1px solid var(--mio-theme-color-surface-variant);
  border-radius: 24px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
@media screen and (max-width: 1294px) {
  .split-asset-image {
    padding-bottom: 50%;
    grid-column: span 2;
  }
}
.split-asset-image.position-right .foreground {
  background-position-x: 100%;
}
.split-asset-image.position-left .foreground {
  background-position-x: 0%;
}
.split-asset-image.position-top .foreground {
  background-position-y: 0%;
}
.split-asset-image.position-bottom .foreground {
  background-position-y: 100%;
}
.ctas {
  display: grid;
  width: 100%;
  margin-top: 24px;
  grid-gap: 8px;
}
.ctas a {
  display: inline-block;
  transition: border-radius 200ms cubic-bezier(0.2, 0, 0, 1);
  border-radius: 48px;
  text-decoration: none;
  cursor: pointer;
}
.ctas a:focus-visible,
.ctas a:hover:focus-visible {
  margin: -2px;
  border: 2px solid var(--mio-theme-color-on-surface);
  outline: 0;
  box-shadow: inset 0 0 0 2px var(--mio-theme-color-surface-0);
}
.ctas a:active,
.ctas a:active .mio-button,
.ctas a:active .mio-button .state-overlay {
  border-radius: 16px;
}
.ctas a:active .mio-button {
  font-variation-settings: "GRAD" -50;
}
.ctas a:active .state-overlay {
  opacity: 0.12;
}
.ctas a:focus .state-overlay,
.ctas a:hover .state-overlay {
  opacity: 0.08;
}
.mio-button {
  font-family: var(--mio-theme-v2-headline-s-font-family);
  font-size: var(--mio-theme-v2-headline-s-font-size);
  font-weight: var(--mio-theme-v2-headline-s-font-weight);
  letter-spacing: var(--mio-theme-v2-headline-s-letter-spacing);
  line-height: var(--mio-theme-v2-headline-s-line-height);
  font-variation-settings: "GRAD"
      var(--mio-theme-v2-headline-s-font-variation-GRAD),
    "opsz" var(--mio-theme-v2-headline-s-font-variation-opsz);
  position: relative;
  width: 100%;
  height: 80px;
  padding: 0 48px;
  transition: all 200ms cubic-bezier(0.2, 0, 0, 1);
  border: 0;
  border-radius: 48px;
  background-color: var(--mio-theme-color-primary);
  color: var(--mio-theme-color-on-primary);
  white-space: nowrap;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}
@media screen and (max-width: 600px) {
  .mio-button {
    font-family: var(--mio-theme-v2-headline-s-font-family);
    font-size: var(--mio-theme-v2-headline-s-font-size);
    font-weight: var(--mio-theme-v2-headline-s-font-weight);
    letter-spacing: var(--mio-theme-v2-headline-s-letter-spacing);
    line-height: var(--mio-theme-v2-headline-s-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-headline-s-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-headline-s-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  .mio-button {
    font-family: var(--mio-theme-v2-headline-s-font-family);
    font-size: var(--mio-theme-v2-headline-s-font-size);
    font-weight: var(--mio-theme-v2-headline-s-font-weight);
    letter-spacing: var(--mio-theme-v2-headline-s-letter-spacing);
    line-height: var(--mio-theme-v2-headline-s-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-headline-s-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-headline-s-font-variation-opsz);
  }
}
.mio-button .label {
  position: relative;
  z-index: 1;
}
.mio-button .state-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: border-radius 200ms cubic-bezier(0.2, 0, 0, 1);
  transition: opacity 200ms cubic-bezier(0.2, 0, 0, 1);
  border-radius: 48px;
  background: var(--mio-theme-color-white);
  opacity: 0;
}
.foreground {
  display: flex;
  position: absolute;
  align-self: stretch;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}
@media screen and (max-width: 1294px) {
  .foreground.foreground-1x1 {
    display: none;
  }
}
@media screen and (min-width: 1295px) {
  .foreground.foreground-2x1 {
    display: none;
  }
}
