/* Type Breakpoints */
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(100% - 16px);
  margin: 120px 8px 0;
}
@media screen and (max-width: 960px) {
  :host {
    margin-top: 120px;
  }
}
.squiggle {
  position: relative;
  width: 100%;
  height: 8px;
}
.squiggle svg {
  position: absolute;
  top: 0;
}
.squiggle svg path {
  stroke: var(--mio-theme-color-surface-variant);
}
footer {
  padding: 64px 40px;
}
@media screen and (max-width: 600px) {
  footer {
    padding: 64px 24px;
  }
}
@media screen and (min-width: 601px) and (max-width: 960px) {
  footer {
    padding: 64px 32px;
  }
}
.about {
  display: grid;
  justify-content: space-between;
  max-width: 1200px;
  -moz-column-gap: 20px;
  column-gap: 20px;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
@media screen and (max-width: 960px) {
  .about {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media screen and (max-width: 960px) {
  .about .about-material {
    grid-column: span 3;
  }
}
.about .material-icons {
  color: var(--mio-theme-color-on-surface);
  font-size: 40px;
}
.about p {
  font-family: var(--mio-theme-v2-body-l-font-family);
  font-size: var(--mio-theme-v2-body-l-font-size);
  font-weight: var(--mio-theme-v2-body-l-font-weight);
  letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
  line-height: var(--mio-theme-v2-body-l-line-height);
  font-variation-settings: "GRAD" var(--mio-theme-v2-body-l-font-variation-GRAD),
    "opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
  margin-top: 24px;
  margin-right: 64px;
  color: var(--mio-theme-color-on-surface);
}
@media screen and (max-width: 600px) {
  .about p {
    font-family: var(--mio-theme-v2-body-m-font-family);
    font-size: var(--mio-theme-v2-body-m-font-size);
    font-weight: var(--mio-theme-v2-body-m-font-weight);
    letter-spacing: var(--mio-theme-v2-body-m-letter-spacing);
    line-height: var(--mio-theme-v2-body-m-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-body-m-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-body-m-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  .about p {
    font-family: var(--mio-theme-v2-body-l-font-family);
    font-size: var(--mio-theme-v2-body-l-font-size);
    font-weight: var(--mio-theme-v2-body-l-font-weight);
    letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
    line-height: var(--mio-theme-v2-body-l-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-body-l-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
  }
}
@media screen and (max-width: 960px) {
  .about p {
    margin-right: 0;
  }
}
.about ul {
  display: flex;
  flex-flow: column wrap;
  margin-top: 24px;
  row-gap: 20px;
}
@media screen and (max-width: 960px) {
  .about ul {
    grid-column: span 1;
  }
}
@media screen and (max-width: 600px) {
  .about ul {
    row-gap: 24px;
  }
}
.about li {
  font-family: var(--mio-theme-v2-title-s-font-family);
  font-size: var(--mio-theme-v2-title-s-font-size);
  font-weight: var(--mio-theme-v2-title-s-font-weight);
  letter-spacing: var(--mio-theme-v2-title-s-letter-spacing);
  line-height: var(--mio-theme-v2-title-s-line-height);
  font-variation-settings: "GRAD"
      var(--mio-theme-v2-title-s-font-variation-GRAD),
    "opsz" var(--mio-theme-v2-title-s-font-variation-opsz);
  display: inline-block;
  color: var(--mio-theme-color-on-surface-variant);
}
@media screen and (max-width: 600px) {
  .about li {
    font-family: var(--mio-theme-v2-title-s-font-family);
    font-size: var(--mio-theme-v2-title-s-font-size);
    font-weight: var(--mio-theme-v2-title-s-font-weight);
    letter-spacing: var(--mio-theme-v2-title-s-letter-spacing);
    line-height: var(--mio-theme-v2-title-s-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-title-s-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-title-s-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  .about li {
    font-family: var(--mio-theme-v2-title-s-font-family);
    font-size: var(--mio-theme-v2-title-s-font-size);
    font-weight: var(--mio-theme-v2-title-s-font-weight);
    letter-spacing: var(--mio-theme-v2-title-s-letter-spacing);
    line-height: var(--mio-theme-v2-title-s-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-title-s-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-title-s-font-variation-opsz);
  }
}
.about a {
  font-family: var(--mio-theme-v2-title-m-font-family);
  font-size: var(--mio-theme-v2-title-m-font-size);
  font-weight: var(--mio-theme-v2-title-m-font-weight);
  letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
  line-height: var(--mio-theme-v2-title-m-line-height);
  font-variation-settings: "GRAD"
      var(--mio-theme-v2-title-m-font-variation-GRAD),
    "opsz" var(--mio-theme-v2-title-m-font-variation-opsz);
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-decoration: none;
}
@media screen and (max-width: 600px) {
  .about a {
    font-family: var(--mio-theme-v2-title-m-font-family);
    font-size: var(--mio-theme-v2-title-m-font-size);
    font-weight: var(--mio-theme-v2-title-m-font-weight);
    letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
    line-height: var(--mio-theme-v2-title-m-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-title-m-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-title-m-font-variation-opsz);
  }
}
@media screen and (min-width: 601px) and (max-width: 1294px) {
  .about a {
    font-family: var(--mio-theme-v2-title-m-font-family);
    font-size: var(--mio-theme-v2-title-m-font-size);
    font-weight: var(--mio-theme-v2-title-m-font-weight);
    letter-spacing: var(--mio-theme-v2-title-m-letter-spacing);
    line-height: var(--mio-theme-v2-title-m-line-height);
    font-variation-settings: "GRAD"
        var(--mio-theme-v2-title-m-font-variation-GRAD),
      "opsz" var(--mio-theme-v2-title-m-font-variation-opsz);
  }
}
.about a:hover {
  text-decoration: underline;
}
.legal {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
}
@media screen and (max-width: 600px) {
  .legal .legal-link {
    -moz-column-gap: 16px;
    column-gap: 16px;
  }
}
.legal li {
  display: inline-block;
}
.legal .google-logo {
  margin-right: 8px;
}
.legal .google-logo a {
  display: block;
  width: 73px;
  height: 26px;
  margin: 0;
}
.legal .google-logo svg {
  fill: var(--mio-theme-color-on-surface);
}
.legal a {
  color: var(--mio-theme-color-on-surface);
  white-space: nowrap;
}
.legal ul {
  display: flex;
  flex-wrap: wrap;
  row-gap: 16px;
  -moz-column-gap: 24px;
  column-gap: 24px;
}
.legal ul a {
  text-decoration: none;
}
.legal ul a:hover {
  text-decoration: underline;
}
