/* Type Breakpoints */
:host {
    min-height: 560px;
    margin-right: 40px;
    margin-left: 40px;
    color: var(--mio-theme-color-on-background);
  }
  @media screen and (max-width: 600px) {
    :host {
      margin-right: 24px;
      margin-left: 24px;
    }
  }
  .animation-container {
    justify-content: space-between;
    height: 100vh;
  }
  main {
    margin: auto;
    outline: none;
  }
  .not-found-block {
    max-width: 620px;
    height: 100%;
    text-align: center;
  }
  .not-found-block h1 {
    font-family: var(--mio-theme-v2-display-s-font-family);
    font-size: var(--mio-theme-v2-display-s-font-size);
    font-weight: var(--mio-theme-v2-display-s-font-weight);
    letter-spacing: var(--mio-theme-v2-display-s-letter-spacing);
    line-height: var(--mio-theme-v2-display-s-line-height);
    font-variation-settings: "GRAD" var(--mio-theme-v2-display-s-font-variation-GRAD), "opsz" var(--mio-theme-v2-display-s-font-variation-opsz);
    margin-bottom: 8px;
  }
  @media screen and (max-width: 600px) {
    .not-found-block h1 {
      font-family: var(--mio-theme-v2-headline-m-font-family);
      font-size: var(--mio-theme-v2-headline-m-font-size);
      font-weight: var(--mio-theme-v2-headline-m-font-weight);
      letter-spacing: var(--mio-theme-v2-headline-m-letter-spacing);
      line-height: var(--mio-theme-v2-headline-m-line-height);
      font-variation-settings: "GRAD" var(--mio-theme-v2-headline-m-font-variation-GRAD), "opsz" var(--mio-theme-v2-headline-m-font-variation-opsz);
    }
  }
  @media screen and (min-width: 601px) and (max-width: 1294px) {
    .not-found-block h1 {
      font-family: var(--mio-theme-v2-headline-l-font-family);
      font-size: var(--mio-theme-v2-headline-l-font-size);
      font-weight: var(--mio-theme-v2-headline-l-font-weight);
      letter-spacing: var(--mio-theme-v2-headline-l-letter-spacing);
      line-height: var(--mio-theme-v2-headline-l-line-height);
      font-variation-settings: "GRAD" var(--mio-theme-v2-headline-l-font-variation-GRAD), "opsz" var(--mio-theme-v2-headline-l-font-variation-opsz);
    }
  }
  .not-found-block p {
    font-family: var(--mio-theme-v2-body-l-font-family);
    font-size: var(--mio-theme-v2-body-l-font-size);
    font-weight: var(--mio-theme-v2-body-l-font-weight);
    letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
    line-height: var(--mio-theme-v2-body-l-line-height);
    font-variation-settings: "GRAD" var(--mio-theme-v2-body-l-font-variation-GRAD), "opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
    max-width: 323px;
    margin: auto;
  }
  @media screen and (max-width: 600px) {
    .not-found-block p {
      font-family: var(--mio-theme-v2-body-m-font-family);
      font-size: var(--mio-theme-v2-body-m-font-size);
      font-weight: var(--mio-theme-v2-body-m-font-weight);
      letter-spacing: var(--mio-theme-v2-body-m-letter-spacing);
      line-height: var(--mio-theme-v2-body-m-line-height);
      font-variation-settings: "GRAD" var(--mio-theme-v2-body-m-font-variation-GRAD), "opsz" var(--mio-theme-v2-body-m-font-variation-opsz);
    }
  }
  @media screen and (min-width: 601px) and (max-width: 1294px) {
    .not-found-block p {
      font-family: var(--mio-theme-v2-body-l-font-family);
      font-size: var(--mio-theme-v2-body-l-font-size);
      font-weight: var(--mio-theme-v2-body-l-font-weight);
      letter-spacing: var(--mio-theme-v2-body-l-letter-spacing);
      line-height: var(--mio-theme-v2-body-l-line-height);
      font-variation-settings: "GRAD" var(--mio-theme-v2-body-l-font-variation-GRAD), "opsz" var(--mio-theme-v2-body-l-font-variation-opsz);
    }
  }
  .not-found-block .not-found-image {
    max-width: 100%;
    max-height: 100%;
    margin-bottom: 24px;
    content: url('/static/angular/404-light.870dd281cdf019d12bb9.png');
  }
  :host.is-dark-mode .not-found-image {
    content: url('/static/angular/404-dark.32e142773ddc32d7baea.png');
  }