/* Type Breakpoints */
:host {
    position: fixed;
    bottom: 0;
    align-self: center;
    margin: 8px;
    margin-bottom: 8px;
    z-index: 10;
  }
  .cookie-notice {
    font-family: var(--mio-theme-v2-body-m-font-family);
    font-size: var(--mio-theme-v2-body-m-font-size);
    font-weight: var(--mio-theme-v2-body-m-font-weight);
    letter-spacing: var(--mio-theme-v2-body-m-letter-spacing);
    line-height: var(--mio-theme-v2-body-m-line-height);
    font-variation-settings: "GRAD" var(--mio-theme-v2-body-m-font-variation-GRAD), "opsz" var(--mio-theme-v2-body-m-font-variation-opsz);
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 16px;
    border-radius: 8px;
    background: var(--mio-theme-color-inverse-surface);
    color: var(--mio-theme-color-inverse-on-surface);
  }
  .cookie-notice a {
    font-family: var(--mio-theme-v2-body-m-font-family);
    font-size: var(--mio-theme-v2-body-m-font-size);
    font-weight: var(--mio-theme-v2-body-m-font-weight);
    letter-spacing: var(--mio-theme-v2-body-m-letter-spacing);
    line-height: var(--mio-theme-v2-body-m-line-height);
    font-variation-settings: "GRAD" var(--mio-theme-v2-body-m-font-variation-GRAD), "opsz" var(--mio-theme-v2-body-m-font-variation-opsz);
    padding: 0 2px;
    color: var(--mio-theme-color-primary-container);
  }
  .cookie-notice a:focus-visible {
    margin: -2px;
    border: 2px solid var(--mio-theme-color-surface-0);
    border-radius: 4px;
    outline: 0;
    box-shadow: inset 0 0 0 2px var(--mio-theme-on-color-surface);
  }
  @media screen and (max-width: 960px) {
    .cookie-notice {
      padding: 14px 8px 14px 16px;
    }
  }
  @media screen and (max-width: 600px) {
    .cookie-notice {
      flex-flow: column;
      align-items: flex-end;
      justify-content: space-around;
      padding: 16px 8px 8px 16px;
    }
  }
  .cookie-notice-message .cookie-notice-message-content {
    margin: 0;
  }
  @media screen and (min-width: 600px) {
    .cookie-notice-message .cookie-notice-message-content {
      margin-right: 40px;
    }
  }
  @media screen and (max-width: 600px) {
    .cookie-notice-message .cookie-notice-message-content {
      margin-bottom: 8px;
    }
  }
  .cookie-notice-confirm {
    border-radius: 22px;
  }
  .cookie-notice-confirm:hover {
    background: var(--mio-theme-color-inverse-surface);
  }
  .cookie-notice-confirm:focus-visible {
    margin: -2px;
    border: 2px solid var(--mio-theme-color-surface-0);
    outline: 0;
    box-shadow: inset 0 0 0 2px var(--mio-theme-on-color-surface);
  }
  mwc-button {
    --mdc-theme-primary: var(--mio-theme-color-primary-container);
    --mdc-theme-on-primary: transparent;
    --mdc-typography-button-white-space: nowrap;
    --mdc-shape-small: 100px;
    --mdc-button-horizontal-padding: 12px;
    --mdc-typography-button-font-size: var(--mio-theme-v2-label-l-font-size);
    --mdc-typography-button-font-weight: var(--mio-theme-v2-label-l-font-weight);
  }