<ng-container>
    <ng-container *ngIf="!isFullscreenEmbed else fullScreenEmbed">
  
      <div class="navigation">
        <mio-left-nav-rail *ngIf="!isTablet"></mio-left-nav-rail>
        <mio-navigation-drawer [pageContent]="pageContent"></mio-navigation-drawer>
      </div>
  
      <ng-template #pageContent>
        <div class="content-container">
          <router-outlet></router-outlet>
        </div>
      </ng-template>
    </ng-container>
    <mio-cookie-notice role="region" aria-label="cookie notice" *ngIf="showCookieNotice"></mio-cookie-notice>
  </ng-container>
  
  <ng-template #fullScreenEmbed>
    <router-outlet></router-outlet>
  </ng-template>